---
layout: default
title: About
section_id: about
<!-- skills:
  - title: Web Design
    percentage: 25
  - title: Web Development
    percentage: 50
  - title: Site Management
    percentage: 75
  - title: Branding
    percentage: 100 -->
testimonials:
  - author: Mason Fox
    quote: Hello World!
---

<div class='full parallax' style='background-image: url(images/home/churchdutch.jpeg); color: #fff;'>
  <div class='row'>
    <div class='twelve columns'>
      {% include section-header.html title="About us" color="#fff" tagline="Know something about our team" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    <div class='medium-12 columns'>
      {% include section-header.html title="About Us" %}
      <p>What a joy it is to introduce you to our church! You’ll discover that our passion
        is to provide a place where people just like you can have a life-changing experience with God</p>
      <p>At Christ Community Church, our doors are wide open to people from all backgrounds, regardless
        of where they are on their spiritual journey. Our goal is to help everyone understand how much God loves
        them through engaging, powerful worship services that offer biblical truth in relevant and practical ways.
        We are here to help people understand the life changing power of God’s grace.</p>
      <p>But it won’t take you long to discover that we’re more than just a Sunday church. In fact, we’re
        actually a family of believers. And if you’d like to develop authentic and enduring relationships
        with others, you’ll be glad to know there are opportunities to fellowship often.</p>
      <p>Together, we’re striving to become the kind of church described in the Bible, where there’s
        relevant teaching, heart-felt worship, honest friendships, constant prayer, and compassionate
        care for those in need. In short, we’d like to have the kind of contagious Christianity that
        can influence and encourage the entire community, one life at a time.</p>
      <p>So whether you’re a spiritual seeker who’s just starting to ask questions about God, or a
        committed Christian who wants to grow even deeper, you can find a home here at Christ Community.</p>

      <p>CCC is an exciting church that is refreshingly biblical, relevant, relaxed and honest. We invite people into a closer relationship with Jesus Christ by ENGAGING with God, God's Word, God's people, and our neighbors.
Christ Community Church meets every Sunday at 10:30 am. We engage with God through contemporary and some traditional music and an applicable preaching style.</p>
    </div>

    <!-- <div class='medium-6 columns aboutlogo'>
      <img src="images/logo-text.svg" alt="">
    </div> -->

    <!-- <div class='medium-6 columns'>
      <h3>Our skills</h3>
      <div class='mod modBarGraph'>
        <ul class='bars'>
          {% for skill in page.skills %}
            <li>
              <h4 style=''>
                {{skill.title}}
                <strong>{{skill.percentage}}%</strong>
              </h4>
              <p class='highlighted' data-percent='{{skill.percentage}}'></p>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div> -->
  </div>
</div>


<div class='full'>
  <div class='row'>
    {% for member in site.data.members %}
      <div class='small-6 medium-3 large-3 columns'>
        <div class='mod modTeamMember'>
          <div class='member'>
            <img class="avatar" alt="" src="{{ member.avatar }}" />
            <div class='overlay'>
              <div class='intro'>
                <h3>{{member.name}}</h3>
                <p>{{member.position}}</p>
                <ul class='socials'>
                  {% for social in member.socials %}
                    <li>
                      <a href='{{social.link}}'>
                        <i class='fa fa-{{social.icon}}'></i>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <p class='centered-text'>{{member.desc}}</p>
          <div class='two spacing'></div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>


<!-- <div class='full parallax' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      <p class='centered-text'>
        <i class='fa fa-quote-left' style='color: #F9CE06; font-size: 36px;'></i>
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="What People Say" %}
      <div class='spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modTestimonials'>
        <div class='row'>
          <div class='small-12 columns'>
            <div class='items centered-text'>
              {% for testimonial in page.testimonials %}
                <div class='item'>
                  <p class='quote'>"{{testimonial.quote}}"</p>
                  <p class='author'>- {{testimonial.author}}</p>
                  <div class='two spacing'></div>
                </div>
              {% endfor %}
            </div>
          </div>
          <div class='spacing'></div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- {% include our-customers.html %} -->
