---
layout: default
section_id: home
slides:
  - bg: images/home/churchl.jpeg
    small_title:
      klass: bottom-to-top
      text: A great church for
    title:
      klass: bottom-to-top
      text: Anyone
    buttons:
      klass: bottom-to-top
      items:
        - text: Learn More
          link_to: about.html
  - bg: images/home/mic.jpeg
    klass: centered-text
    title:
      klass: left-to-right
      text: Join Us!
    small_title:
      klass: left-to-right
      text: Wednesday at 7pm or Sunday mornings at 10:30 am.
    buttons:
      klass: left-to-right
      items:
        - klass: boxed
          text: View Our Services
          link_to: services.html
  - bg: images/home/yu.jpeg
    klass: centered-text
    small_title:
      klass: right-to-left
      text: Our Youth Program
    title:
      klass: right-to-left
      text: Wednesday at 7:00 pm
    small_title:
      klass: right-to-left
      text: Youth Unashamed


latest-sermon:
  - title: Family
    date: September 27, 2015
    summary: A sermon on the topic of family for our community
    soundcloud: https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/226877353&amp;
---


<div class='mod modDefaultSlider'>
  <div class='sequence' data-autostop='on' data-timeout='0'>
    <a class='sequence-prev' href='javascript:void(0);'>
      <span></span>
    </a>
    <a class='sequence-next' href='javascript:void(0);'>
      <span></span>
    </a>
    <ul class='sequence-pagination'>
      {% for slide in page.slides %}
        {% if forloop.first %}
          {% assign class = 'current' %}
        {% else %}
          {% assign class = '' %}
        {% endif %}
        <li class="{{class}}"></li>
      {% endfor %}
    </ul>
    <ul class='sequence-canvas'>
      {% for slide in page.slides %}
        {% if forloop.first %}
          {% assign style = 'static' %}
        {% else %}
          {% assign style = '' %}
        {% endif %}

        <li class='frame {{style}} {{ slide.klass }}'>
          <div class='bg' style='background-image: url({{ slide.bg}});'></div>
          <div class='small-title {{ slide.small_title.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <h2>{{ slide.small_title.text }}</h2>
              </div>
            </div>
          </div>
          <div class='title {{ slide.title.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <h2>{{ slide.title.text }}</h2>
              </div>
            </div>
          </div>
          <div class='buttons-wrapper {{ slide.buttons.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <div class='two spacing'></div>
                {% for button in slide.buttons.items %}
                  <a class='button {{ button.klass }}' href='{{ button.link_to }}'>{{ button.text }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="full" style="background: #f5f5f5;">
  <div class="row">
    <div class="large-12 column text-center">
      {% include section-header.html title="Our Mission" %}
      <p>To invite people into a closer relationship with Jesus Christ as we Captivate, Cultivate and Commission believers to engage with God, God’s Word, God’s people, and our neighbors. We do this by being refreshingly biblical, relevant, relaxed and honest.</p>
    </div>
  </div>
  <div class="spacing"></div>
</div>

<div class="quarter" style="background: #5DA3A1; color: #fff;">
  <div class="row">
    <div class="two spacing"></div>
    <div class="large-12 column text-center">
      <h2 class="subheader"><small style="color: #fff;"><span class="mission">Captivate</span>, <span class="mission">Cultivate</span> and <span class="mission">Commission</span></small></h2>
    </div>
    <div class="four spacing"></div>
    <div class="spacing hide-for-small-only"></div>
  </div>
</div>

<div class="four spacing"></div>

<div class="row">
  <div class="medium-3 large-3 columns">
    {% include icon-text.html title='Call Us Home' desc='With wide open arms, we welcome every single guest to our church. We strive to make every person feel at home and loved.' icon_class='fa fa-home' delay='0' shape_class='icon-text-circle' %}
  </div>
  <div class="medium-3 large-3 columns">
    {% include icon-text.html title='True to the Word' desc='The Bible is an understandable book that reveals who God is and how people are to live in response to Him.' icon_class='fa fa-book' delay='400' shape_class='icon-text-circle' %}
  </div>
  <div class="medium-3 large-3 columns">
    {% include icon-text.html title='Unconditional Love' desc='Feel the unconditional love which abounds from our community of believers. Love is just one of our ministries to you.' icon_class='fa fa-heart' delay='800' shape_class='icon-text-circle' %}
  </div>
  <div class="medium-3 large-3 columns">
    {% include icon-text.html title='Always Here' desc='Supporting others is a value at the heart of our community. We support through love and love through support.' icon_class='fa fa-support' delay='1200' shape_class='icon-text-circle' %}
  </div>
</div>

<div class="spacing"></div>

<div class="full" style="background: #f5f5f5;">
  <div class="row">
    <div class="large-12 columns">
      {% include section-header.html title="Our Sermons" %}
      <div class="spacing"></div>
      <p class="text-justify">We hope you take every opportunity to use our online sermons as a resource throughout your day,
        week, and more. We truly believe that words have power and that our body of Christ
        is strong in these words. Listen and be impowered by the words of our Lord that unites our community. View our latest sermon
        below! Updated every Sunday after service! </p>
      <div class="large-12 column text-center"><br>
        <a href="sermons.html"><div class="button small">See All Sermons</div></a><br><br>
      </div>
      <div class="two spacing"></div>
    </div>
  </div>
</div>

<div class="half" style="background: #5DA3A1; color: #fff;">
  <div class="mod modGallery">
    <ul class="gallery large-block-grid-1">
      <!-- break --><div class="spacing"></div>
      <div class="large-12 column text-center"><br>
        <h2 class="subheader" style="color: #398888;">Our Latest Sermon</h2>
      </div> <!--- end title -->
      {% for sermon in page.latest-sermon %}
      <li class="{{ sermon.klass }} pull-down">
        <div class='overlay'>
          <div class='thumb-info'>
            <div class="large-12 column text-center">
            <h3 class="subheader" style="color: #fff;">{{ sermon.title }} | {{ sermon.date }}</h3>
            <!-- break --><div class="spacing"></div>
            <p>{{ sermon.summary }}</p>
            <!-- break --><div class="spacing"></div>
          </div>
          <!-- Begin Soundcloud Bit -->
          <iframe width="100%" height="166" scrolling="no" frameborder="no" src="{{ sermon.soundcloud }}color=5DA3A1&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
          <!-- End Sound Cloud Bit -->
          </div>
        </div>
      </li>
        {% endfor %}
    </ul>
  </div>
</div> <!-- end full -->

<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Our services" %}
      <div class='spacing'></div>
      </div>
    </div>
    <div class='row'>
      <div class='medium-6 columns text-justify'>
        <h2 style="font-size: 20px;">Sunday <small style="font-size: 17px;"><span style="color: #398888;">|</span> 10:30 am</small></h2>
        <p>On Sunday, we invite people into a closer relationship with Jesus Christ by engaging with God, God's Word, God's people, and our neighbors around us. Worship is one way we celebrate the wonderful power of God on Sunday.</p>
      </div>
      <div class='medium-6 columns text-justify'>
        <h2 style="font-size: 20px;">Wednesday <small style="font-size: 17px;"><span style="color: #398888;">|</span> 7:00 pm</small></h2>
        <p>Wednesday Night Classes (WNC) are where community is further developed at CCC and where deeper spiritual growth can occur. Focused discussion, study, and opportunities for cultivating relationships allow for honest interactions in which biblical life principles can be further explored.</p>
      </div>
    </div>

    <!-- space <div class="spacing"></div>

    <div class="row">
      <div class="medium-12 column text-justify">
        <h2 style="font-size: 20px;" class="text-center">Worship with us</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde aliquid libero, placeat perferendis autem, voluptatibus distinctio dicta aut, expedita ad natus aperiam voluptates minima magni? Reprehenderit distinctio ducimus hic amet quam similique aliquid saepe corporis, officia obcaecati laborum ex mollitia libero accusantium qui quasi aperiam est inventore, odit nulla ipsum maiores aut exercitationem quisquam. Possimus voluptate nemo pariatur suscipit eligendi tempora eos sapiente, soluta tempore. Optio dolor expedita quisquam libero. Adipisci deleniti eligendi autem iste eos officiis vel quos harum illum quisquam debitis, neque id esse odio saepe, veniam quas dicta asperiores consequatur recusandae deserunt qui. Debitis perspiciatis tenetur expedita.
        </p>
      </div>
    </div> -->
  </div>

  <div class="full">
    <div class="row">
      <div class='medium-6 columns text-justify'>
        <h2></h2>
      </div>
    </div>
  </div>

</div> <!-- end services -->


<!-- <div class='full parallax' style='background-image: url(images/@stock/milestone-bg.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Parallax effect" color="#fff" %}
      <div class='spacing'></div>
      <p class='centered-text' style='color: #ccc;'>
        Dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing.
      </p>
      <div class='two spacing'></div>
    </div>
  </div>
  <div class='row'>
    {% for milestone in page.milestones %}
      <div class='medium-3 large-3 columns'>
        <div class='mod modMilestone'>
          <i class='fa fa-{{milestone.icon}}'></i>
          <strong data-from='{{milestone.from}}' data-to='{{milestone.to}}'>&nbsp;</strong>
          <span>{{milestone.title}}</span>
          <div class='four spacing'></div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class='two spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Our team" %}
      <div class='spacing'></div>
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing.
      </p>
      <div class='two spacing'></div>
    </div>
  </div>
  <div class='row'>
    {% for member in site.data.members %}
      <div class='small-6 medium-3 large-3 columns'>
        <div class='mod modTeamMember'>
          <div class='member'>
            <img class="avatar" alt="" src="{{ member.avatar }}" />
            <div class='overlay'>
              <div class='intro'>
                <h3>{{member.name}}</h3>
                <p>{{member.position}}</p>
                <ul class='socials'>
                  {% for social in member.socials %}
                    <li>
                      <a href='{{social.link}}'>
                        <i class='fa fa-{{social.icon}}'></i>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <div class='two spacing'></div>
        </div>
      </div>
    {% endfor %}
  </div>
</div> -->

<div class='full' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Our recent posts" %}
      <div class='two spacing'></div>
    </div>
  </div>

  <div class='row'>
    {% for post in site.posts %}
      {% if forloop.index > 3 %}
        {% break %}
      {% endif %}


      <div class='large-4 medium-4 columns'>
        <a href="{{post.url}}"><img alt="" src="{{image}}"><div class='mod modBlogPost'>
          {% for image in post.images %}
            {% unless forloop.first %}
              {% break %}
            {% endunless %}
            <a href="{{post.url}}"><img alt="" src="{{image}}">
          {% endfor %}
          <div class='content'>
            <p class='date'>{{post.date | date: "%B %d, %Y" }}</p>
            <h4>{{post.title}}</h4>
            <p style="color: #666666">{{post.excerpt}}</p>
            <!--
              <div class="tags">
                {% for cat in post.categories %}
                  <a href="#">{{cat | capitalize}}</a>
                  {% unless forloop.last %}
                    ,
                  {% endunless %}
                {% endfor %}
              </div>
            -->
          </div></a> <!-- Keep anchor here | it links the whole post -->
        </div>
      </div>

    {% endfor %}

  </div>


  <div class='two spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      <p class='centered-text'>
        <a class='button' href='blog.html'>See more posts</a>
      </p>
    </div>
  </div>
  <div class='two spacing'></div>

</div>


<!-- {% include our-customers.html %} -->


<div class='full no-padding' style='background: #fff'>
  <div class='two spacing'></div>
  <div class='mod modCallToAction'>
    <div class='row'>
      <div class='medium-9 large-9 columns'>
        <p>Need to Talk? Do not hesitate to speak with our Pastor or Elders:</p>
      </div>
      <div class='medium-3 large-3 columns'>
        <a class='button' href='contact.html'>Contact Us</a>
      </div>
    </div>
  </div>
  <div class='spacing'></div>
</div>
