---
layout: default
title: Sermons
section_id: portfolio
sermon:
  - title: Title
    date: September 27, 2015
    summary: A sermon on the topic of what it means to be sorry for our community
    soundcloud: https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/225815557&amp;
    klass: september
  - title: Hospitality
    date: September 20, 2015
    summary: A sermon on the topic of hospitality for our community
    soundcloud: https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/224746162&amp;
    klass: september
  - title: A Man's Charge
    date: September 13, 2015
    summary: A recap of the Man Stuff Ministry deep servival 8
    soundcloud: https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/223682736&amp;
    klass: september
  - title: Humility
    date: August 30, 2015
    summary: A sermon on the topic of humility for our community
    soundcloud: https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/221574842&amp;
    klass: august
  - title: Forgiveness
    date: August 23, 2015
    summary: A sermon on the topic of forgiveness for our community
    soundcloud: https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/220530444&amp;
    klass: august
  - title: Unity
    date: August 16, 2015
    summary: A sermon on the topic of Unity for our community
    soundcloud: https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/220515139&amp;
    klass: august
---

<div class='full parallax' style='background: #5DA3A1; color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Our Sermons" tagline="Missed a service? Catch up by listening online!" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class="full">
  <div class="row">
    <div class="medium-6 column">
      <h1><small>Listen Online</small></h1>
      <p class="text-justify">We hope you take every opportunity use our online sermons as a resource throughout
        your day, week, and more. We truly believe that words have power and that our body of
        Christ is strong in these words. Listen and be impowered by the words of our community.</p>

    </div>
    <div class="medium-6 column">
      <h1><small>Sermon Cycle</small></h1>
      <p class="text-justify">To keep connection speedy and more convenient for you, we will
        move sermons to soundcloud every 3 months. You will be able to view all of the sermons
        on soundcloud.</p>

      <a href="https://soundcloud.com/christ-community-church-537270380" target="_blank" class="button tiny">Soundcloud</a>

    </div>
  </div> <!-- end two column -->

  <div class="two spacing"></div> <!-- spacing between -->

  <div class="row">
    <div class="medium-12 column text-center">
      <h2><small>Search Below</small></h2>
      <p>Use the month buttons below to select
      a sermon from the respective month</p>
    </div>
  </div>
</div> <!-- end full -->

<div class='half'>
  <div class='row'>
    <div class='mod modGallery'>
      <div class='gallery-nav'>
        <ul>
          <li class='current'>
            <a data-cat='all' href='#'>All</a>
          </li>
          <li>
            <a data-cat='january' href='#'>January</a>
          </li>
          <li>
            <a data-cat='february' href='#'>Feburary</a>
          </li>
          <li>
            <a data-cat='march' href='#'>March</a>
          </li>
          <li>
            <a data-cat='april' href='#'>April</a>
          </li>
          <li>
            <a data-cat='may' href='#'>May</a>
          </li>
          <li>
            <a data-cat='june' href='#'>June</a>
          </li>
          <li>
            <a data-cat='july' href='#'>July</a>
          </li>
          <li>
            <a data-cat='august' href='#'>August</a>
          </li>
          <li>
            <a data-cat='september' href='#'>September</a>
          </li>
          <li>
            <a data-cat='october' href='#'>October</a>
          </li>
          <li>
            <a data-cat='november' href='#'>November</a>
          </li>
          <li>
            <a data-cat='december' href='#'>December</a>
          </li>
        </ul>
      </div>

      <ul class='gallery large-block-grid-1'>

      {% for sermon in page.sermon %}
        <li class="{{ sermon.klass }}">
          <div class='overlay'>
            <div class='thumb-info'>
              <div class="large-12 column text-center">
              <h3>{{ sermon.title }} <span style="color: #398888;">|</span><small style="font-size: 11px; position: relative; bottom: 1.8px;"> Date: {{ sermon.date }}<small></h3>
              <p class="text-center">{{ sermon.summary }}</p>
            </div>
            <!-- Begin Soundcloud Bit -->
            <iframe width="100%" height="166" scrolling="no" frameborder="no" src="{{ sermon.soundcloud }}color=5DA3A1&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            <!-- End Sound Cloud Bit -->
            <div class="barsound">
          </div>
        </div>
      </li>
      {% endfor %}

          <!-- <li class="{{ work.klass }}">
            <a href='{{ work.link_to }}'>
              <img alt="" src="{{ work.image }}" />
              <div class='overlay'>
                <div class='thumb-info'>
                  <h3>{{ work.title }}</h3>
                  <p>{{ work.summary }}</p>
                </div>
              </div>
            </a>
          </li> -->


      </ul>

      </div>
    </div>
  </div>
</div>

<div class="half">
  <div class="row">
    <div class="medium-12 column text-center">
      <h2><small>Don't see the one you're looking for?</small></h2>
      <p class="text-center">Check our Soundcloud page for all of our sermons!</p>
      <a href="https://soundcloud.com/christ-community-church-537270380" target="_blank" class="button tiny">Soundcloud</a>
    </div>
  </div>
  <div class='two spacing'></div>
</div>
