---
layout: default
title: Services
section_id: services
services_left:
  - icon: trophy
    title: Web Design
    desc: Acusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
  - icon: cogs
    title: Web Development
    desc: Acusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
  - icon: pagelines
    title: Branding
    desc: Acusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
  - icon: lock
    title: Security
    desc: Acusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
services_right:
  - icon: compass
    title: Art Direction
    desc: Acusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
  - icon: image
    title: Photography
    desc: Acusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
  - icon: database
    title: Data
    desc: Acusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
  - icon: film
    title: Video
    desc: Acusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
---

<div class='full parallax' style='background: #5DA3A1; color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Our services" tagline="Celebrate Our Lord with Us!" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>


<div class='full'>
  <div class='row'>
    <div class='medium-6 columns text-justify'>
      <h2 class="text-center">Sunday <small><span style="color: #398888;">|</span> 10:30 am</small></h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt nulla nihil qui accusamus non, molestiae, iusto! Voluptas iste temporibus, beatae cum neque perspiciatis, officia repudiandae odio animi ipsum nesciunt similique, dicta ea repellendus magnam error laborum. Assumenda suscipit consequatur, enim, praesentium labore aut voluptatum dolores vero consectetur! Labore quam vero atque possimus commodi excepturi perferendis, velit saepe repellendus doloremque. Officia dolorum voluptates ea accusamus, culpa veritatis eveniet fugit aperiam praesentium officiis, provident, cumque nemo quo, enim minima ipsum a error quas harum commodi. Saepe consequatur voluptates ipsa commodi ad ex laudantium perspiciatis soluta expedita natus, repellat similique! Aliquam repellendus, eveniet.</p>
    </div>
    <div class='medium-6 columns text-justify'>
      <h2 class="text-center">Wednesday <small><span style="color: #398888;">|</span> 7:00 pm</small></h2>
      <p>Wednesday Night Classes (WNC) are where community is further developed at CCC and where deeper spiritual growth can occur. Focused discussion, study, and opportunities for cultivating relationships allow for honest interactions in which biblical life principles can be further explored.</p>
    </div>
  </div>

  <!-- space --><div class="spacing"></div>

  <div class="row">
    <div class="medium-12 column text-justify">
      <h2 class="text-center">Worship with us</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde aliquid libero, placeat perferendis autem, voluptatibus distinctio dicta aut, expedita ad natus aperiam voluptates minima magni? Reprehenderit distinctio ducimus hic amet quam similique aliquid saepe corporis, officia obcaecati laborum ex mollitia libero accusantium qui quasi aperiam est inventore, odit nulla ipsum maiores aut exercitationem quisquam. Possimus voluptate nemo pariatur suscipit eligendi tempora eos sapiente, soluta tempore. Optio dolor expedita quisquam libero. Adipisci deleniti eligendi autem iste eos officiis vel quos harum illum quisquam debitis, neque id esse odio saepe, veniam quas dicta asperiores consequatur recusandae deserunt qui. Debitis perspiciatis tenetur expedita.
      </p>
    </div>
  </div>
</div>

<div class="two spacing"></div>

<div class="half">
  <div class="row text-center">
    <div class="medium-12 column">
      {% include section-header.html title="Our Ideologies" %}
    </div>
    <div class="medium-4 small-12 columns">
      <h2 class="subheader"><small>We Read the Bible<small></h2>
      <p style="color: #000; text-align: justify;">It is God’s inspired, inerrant and powerful written revelation to humanity. The Bible is an understandable book that reveals who God is and how people are to live in response to Him.</p>
    </div>
    <div class="medium-4 small-12 columns">
      <h2 class="subheader"><small>We Value Community<small></h2>
      <p style="color: #000; text-align: justify;"> The church is not a building. It is people who do life together.</p>
    </div>
    <div class="medium-4 small-12 columns">
      <h2 class="subheader"><small>We Worship<small></h2>
      <p style="color: #000; text-align: justify;"> Worship is more than singing: it is our response to biblical revelation. We vary our worship to include elements that help us integrate what we learn.</p>
    </div>
  </div> <!-- End Row -->

  <!-- Begin row -->
  <div class="row text-center">
    <div class="medium-12 column">
      <div class="medium-4 small-12 columns">
        <h2 class="subheader"><small>We Value Relationships<small></h2>
        <p style="color: #000; text-align: justify;">We encourage people to be real with God and each other.</p>
      </div>
      <div class="medium-4 small-12 columns">
        <h2 class="subheader"><small>We Strive for Holiness<small></h2>
        <p style="color: #000; text-align: justify;">While we recognize our shortcomings, we strive, with God’s Spirit, to be transformed into the image of Christ.</p>
      </div>
      <div class="medium-4 small-12 columns">
        <h2 class="subheader"><small>We Care<small></h2>
        <p style="color: #000; text-align: justify;">Jesus calls us to be salt and light: to help our community and share the gospel.</p>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="medium-4 small-12 columns">
      <h2 class="subheader"><small>We Are Called to Serve<small></h2>
      <p style="color: #000; text-align: justify;">We express our love for each other in word and deed.</p>
    </div>
  </div>
</div> <!-- End Half -->

<div class="two spacing"></div>

<div class="half">
  <div class="row text-center">
    <div class="medium-12 column">
      {% include section-header.html title="Our Primary Ministries" %}
    </div>
    <div class="medium-4 small-12 columns">
      <h2 class="subheader"><small>Worship Services<small></h2>
      <p style="color: #000; text-align: justify;">We provide a highly relational and refreshingly interactive environment that encourages people to engage with God, Scripture, and others.</p>
    </div>
    <div class="medium-4 small-12 columns">
      <h2 class="subheader"><small>Wednesday Evening<small></h2>
      <p style="color: #000; text-align: justify;">We develop meaningful relationships as we help each other apply God’s Word to our lives. Classes for all ages.</p>
    </div>
    <div class="medium-4 small-12 columns">
      <h2 class="subheader"><small>Community Impact<small></h2>
      <p style="color: #000; text-align: justify;">We see the spiritual, physical and emotional needs of people in our community and seek to meet these needs.</p>
    </div>
  </div> <!-- End Row -->

  <div class="row text-center">
    <div class="medium-4 small-12 columns">
      <h2 class="subheader"><small>Education<small></h2>
      <p style="color: #000; text-align: justify;">We value the opportunity to offer children a highly effective education. We are closely connected to The JOY Homeschool Co-op which meets in our building each Friday.</p>
    </div>
    <div class="medium-4 small-12 columns">
      <h2 class="subheader"><small>The Iron Shop<small></h2>
      <p style="color: #000; text-align: justify;">is CCC’s Manstuff Community Outreach. On Saturday nights throughout the year, we open the doors to families to join us for some super fun indoor activities including a putt-putt course, human foosball, GAGA Ball, an indoor BB gun range, food and more.</p>
    </div>
  </div>
</div> <!-- End Full -->

      <!-- {% for service in page.services_left %}
        <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
          <div class='icon-text-simple'>
            <i class='fa fa-{{service.icon}}'></i>
            <h3>{{service.title}}</h3>
            <p>{{service.desc}}</p>
          </div>
          <div class='two spacing'></div>
        </div>
      {% endfor %}
    </div>
    <div class='medium-6 columns'>
      {% for service in page.services_right %}
        <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
          <div class='icon-text-simple'>
            <i class='fa fa-{{service.icon}}'></i>
            <h3>{{service.title}}</h3>
            <p>{{service.desc}}</p>
          </div>
          <div class='two spacing'></div>
        </div>
      {% endfor %}
    </div> -->
