---
layout: default
title: Services
section_id: services
services_left:
  - icon: trophy
    title: Web Design
    desc: Acusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
  - icon: cogs
    title: Web Development
    desc: Acusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
  - icon: pagelines
    title: Branding
    desc: Acusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
  - icon: lock
    title: Security
    desc: Acusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
services_right:
  - icon: compass
    title: Art Direction
    desc: Acusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
  - icon: image
    title: Photography
    desc: Acusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
  - icon: database
    title: Data
    desc: Acusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
  - icon: film
    title: Video
    desc: Acusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
---

<div class='full parallax' style='background: #5DA3A1; color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Our services" tagline="Celebrate Our Lord with Us!" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>


<div class='full'>
  <div class='row'>
    <div class='medium-6 columns text-justify'>
      <h2>Sunday <small><span style="color: #398888;">|</span> 10:30 am</small></h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt nulla nihil qui accusamus non, molestiae, iusto! Voluptas iste temporibus, beatae cum neque perspiciatis, officia repudiandae odio animi ipsum nesciunt similique, dicta ea repellendus magnam error laborum. Assumenda suscipit consequatur, enim, praesentium labore aut voluptatum dolores vero consectetur! Labore quam vero atque possimus commodi excepturi perferendis, velit saepe repellendus doloremque. Officia dolorum voluptates ea accusamus, culpa veritatis eveniet fugit aperiam praesentium officiis, provident, cumque nemo quo, enim minima ipsum a error quas harum commodi. Saepe consequatur voluptates ipsa commodi ad ex laudantium perspiciatis soluta expedita natus, repellat similique! Aliquam repellendus, eveniet.</p>
    </div>
    <div class='medium-6 columns text-justify'>
      <h2>Wednesday <small><span style="color: #398888;">|</span> 7:00 pm</small></h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt nulla nihil qui accusamus non, molestiae, iusto! Voluptas iste temporibus, beatae cum neque perspiciatis, officia repudiandae odio animi ipsum nesciunt similique, dicta ea repellendus magnam error laborum. Assumenda suscipit consequatur, enim, praesentium labore aut voluptatum dolores vero consectetur! Labore quam vero atque possimus commodi excepturi perferendis, velit saepe repellendus doloremque. Officia dolorum voluptates ea accusamus, culpa veritatis eveniet fugit aperiam praesentium officiis, provident, cumque nemo quo, enim minima ipsum a error quas harum commodi. Saepe consequatur voluptates ipsa commodi ad ex laudantium perspiciatis soluta expedita natus, repellat similique! Aliquam repellendus, eveniet.</p>
    </div>
  </div>

  <!-- space --><div class="spacing"></div>

  <div class="row">
    <div class="medium-12 column text-justify">
      <h2 class="text-center">Worship with us</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde aliquid libero, placeat perferendis autem, voluptatibus distinctio dicta aut, expedita ad natus aperiam voluptates minima magni? Reprehenderit distinctio ducimus hic amet quam similique aliquid saepe corporis, officia obcaecati laborum ex mollitia libero accusantium qui quasi aperiam est inventore, odit nulla ipsum maiores aut exercitationem quisquam. Possimus voluptate nemo pariatur suscipit eligendi tempora eos sapiente, soluta tempore. Optio dolor expedita quisquam libero. Adipisci deleniti eligendi autem iste eos officiis vel quos harum illum quisquam debitis, neque id esse odio saepe, veniam quas dicta asperiores consequatur recusandae deserunt qui. Debitis perspiciatis tenetur expedita.
      </p>
    </div>
  </div>
</div>

<div class="full">
  <div class="row">
    <div class='medium-6 columns text-justify'>
      <h2></h2>
    </div>
  </div>
</div>
      <!-- {% for service in page.services_left %}
        <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
          <div class='icon-text-simple'>
            <i class='fa fa-{{service.icon}}'></i>
            <h3>{{service.title}}</h3>
            <p>{{service.desc}}</p>
          </div>
          <div class='two spacing'></div>
        </div>
      {% endfor %}
    </div>
    <div class='medium-6 columns'>
      {% for service in page.services_right %}
        <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
          <div class='icon-text-simple'>
            <i class='fa fa-{{service.icon}}'></i>
            <h3>{{service.title}}</h3>
            <p>{{service.desc}}</p>
          </div>
          <div class='two spacing'></div>
        </div>
      {% endfor %}
    </div> -->
